export("colnames<-")
export(MPApply)
export(addPlate)
export(addPlate2)
export(colnames)
export(copy)
export(extractPlateCoordinates)
export(getGrowthRate)
export(install.package)
export(lettersToNumber)
export(merge)
export(novostar.dbf)
export(novostar.xls)
export(plotPerPlate)
export(plotPerWell)
export(print)
export(read.sheet)
export(readLayoutFile)
export(readLayoutFile2)
export(removeColumn)
export(setup)
export(spectramax.txt)
export(trim)
export(trim.leading)
export(trim.trailing)
export(updateColnames)
exportClasses(MicroPlate)
exportMethods("$")
exportMethods("$<-")
exportMethods("[")
exportMethods("[<-")
exportMethods("[[")
exportMethods(show)
import(foreign)
import(gdata)
import(grofit)
import(gtools)
import(methods)
import(plyr)
import(readODS)
